.create-employee-form-container {
  width: 100%;
  padding: 2rem;
  border-radius: var(--rounded-lg);
  background-color: var(--light-color);
  box-shadow: var(--shadow);
}

@media only screen and (min-width: 600px) {
  .create-employee-form-container {
    max-width: 550px;
  }
}
