.layout {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--main-color);
  overflow-x: auto;
}

.title {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .layout {
    padding: 2rem;
  }
}
