.searchbar-container {
  width: 100%;
  max-width: 20rem;
  padding: 0 0.385rem;
  display: flex;
  align-items: center;
  border-radius: var(--rounded-sm);
  background-color: var(--medium-light-color);
}
.searchbar-container:hover {
  opacity: O.8;
}

.searchbar::placeholder {
  color: var(--dark-color);
}
.searchbar {
  width: 100%;
  height: 1.75rem;
  padding: 0 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.searchbar-button {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchbar-icon {
  width: 1rem;
  height: 1rem;
}
