.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
  background-color: #e5e7eb;
}

.table th,
.table td {
  width: 100%;
  min-width: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table td {
  background-color: #f3f3f3;
}

tr {
  display: flex;
}

.table tbody tr td {
  width: 100%;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid transparent;
}

.sort-button-container button {
  width: 0.875rem;
  height: 0.875rem;
  margin-left: 0.5rem;
}

.sort-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-button {
  width: 1rem;
  height: 1rem;
}

.table-pagination-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pagination-inner-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.pagination-button {
  width: fit-content;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.pagination-button:hover {
  opacity: 0.8;
}

.pagination-number {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
.pagination-label {
  display: block;
}

.pagination-number-active {
  opacity: 0.8;
  background-color: var(--light-color);
}

.pagination-number:hover {
  border: 1px solid var(--light-color);
}
