.employee-page-wrapper {
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.table-container {
  width: 100%;
}

.link-button {
  width: fit-content;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.link-button:hover {
  text-decoration: underline;
}

.searchbar-tools-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-button {
  width: 100%;
  max-width: 7rem;
  padding: 0.5rem 1rem;
  text-align: center;
  color: #fff;
  background-color: #2563eb;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.pagination-button:hover {
  opacity: 0.8;
}

.pagination-number {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-number:hover {
  background-color: red;
}
